In [1]:
import pandas as pd
from surprise import dump

n, model = dump.load('Model/reccSvd.pickle')
recommendable = pd.read_csv('Dataset/recommendable.csv')
ratings = pd.read_csv('Dataset/ratings.csv')
movies = pd.read_csv('Dataset/movies.csv')

In [2]:
ratings.head()

   userId  movie_id  rating   timestamp
0       1       110     1.0  1425941529
1       1       147     4.5  1425942435
2       1       858     5.0  1425941523
3       1      1221     5.0  1425941546
4       1      1246     5.0  1425941556

In [5]:
id = pd.DataFrame(ratings['userId'].unique())

In [8]:
id.head()

   0
0  1
1  2
2  3
3  4
4  5

In [7]:
id.to_csv('rating_id.csv', index=False)